datasets
langchain==0.0.199
langchain-community
langchain_chroma
langchain_huggingface
wikipedia
unstructured
nltk
stanza
googletrans==3.1.0a0
chromadb
streamlit
rouge-score
bert-score
rouge
transformers
sentence-transformers
torch
openpyxl
pyarabic
pydantic
pyngrok
pytest
unittest