datasets
langchain==0.0.199
wikipedia
langchain-community
unstructured
nltk
stanza
googletrans==3.1.0a0
pyarabic
pydantic
chromadb
streamlit
langchain_chroma
langchain_huggingface
rouge-score
bert-score
rouge
transformers
sentence-transformers
torch
openpyxl
pyngrok
pytest
unittest